{:paths ["dev/src"]
 :tasks
 {:requires ([babashka.fs :as fs])
  test
  {:doc "NOT YET IMPLEMENTED Runs tests"}

  build-dockerfiles
  {:doc "NOT YET IMPLEMENTED Constructs Dockerfile and docker-compose.yml"}

  init-config
  {:doc "Create base config files from examples"
   :task
   (do
     (doseq [f ["environment" "secrets"]
             :let [src  (str "config" fs/file-separator f ".example.edn")
                   dest (str "config" fs/file-separator f ".edn")]]
       (if (fs/exists? dest)
         (println "skipping" dest "- already exists")
         (do (println "copying" src "to" dest)
             (fs/copy src dest)))))}

  dev
  {:doc "Starts the development environment dependencies."
   :task (shell "docker-compose up")}

  psql
  {:doc "Opens a psql terminal to the repl terminal."
   :task (shell "docker-compose exec --env \"PGPASSWORD=consider_me_compromised\" postgres psql --user=pguser --dbname=repl
")}

  rm-dev
  {:doc "Destroys the development environment. WARNING: Will destroy locally stored data."
   :task (shell "docker-compose down --volumes")}

  repl
  {:doc "Start a REPL. May provide aliases to use, .e.g `bb repl my-alias1 my-alias2"
   ;; TODO: should probably just make this pass through instead of being fancy with aliases
   ;; this would allow more control
   :requires ([clojure.string :as str])
   :task (clojure (str "-M"
                       (str/join (interleave (repeat ":")
                                             (concat ["dev" "test"]
                                                     *command-line-args*)))))}}}
