{:paths ["dev/src"]
 :tasks
 {test
  {:doc "Runs tests"}

  repl
  {:doc "Start a REPL. May provide aliases to use, .e.g `bb repl my-alias1 my-alias2"
   :requires ([clojure.string :as str])
   :task (clojure (str "-M"
                       (str/join (interleave (repeat ":")
                                             (concat ["dev" "test"]
                                                     *command-line-args*)))))}

  }}
