{:paths ["dev/src"]
 :tasks
 {test
  {:doc "NOT YET IMPLEMENTED Runs tests"}

  build-dockerfiles
  {:doc "NOT YET IMPLEMENTED Constructs Dockerfile and docker-compose.yml"}

  init-config
  {:doc "Create base config files from examples"
   :task (do (shell "cp config/overrides.example.edn config/overrides.edn")
             (shell "cp config/secrets.example.edn config/secrets.edn"))}

  dev
  {:doc "Starts the development environment dependencies."
   :task (shell "docker-compose up")}

  psql
  {:doc "Opens a psql terminal to the repl terminal."
   :task (shell "docker-compose exec --env \"PGPASSWORD=consider_me_compromised\" postgres psql --user=pguser --dbname=repl
")}

  rm-dev
  {:doc "Destroys the development environment. WARNING: Will destroy locally stored data."
   :task (shell "docker-compose down --volumes")}

  repl
  {:doc "Start a REPL. May provide aliases to use, .e.g `bb repl my-alias1 my-alias2"
   :requires ([clojure.string :as str])
   :task (clojure (str "-M"
                       (str/join (interleave (repeat ":")
                                             (concat ["dev" "test"]
                                                     *command-line-args*)))))}

  }}
