{:paths ["src"]
 :resource-paths ["resources"]

 :deps
 {org.clojure/clojure        {:mvn/version "1.11.1"}

  aero/aero                  {:mvn/version "1.1.6"}
  com.fzakaria/slf4j-timbre  {:mvn/version "0.3.21"}
  com.taoensso/timbre        {:mvn/version "5.2.1"}
  com.xtdb/xtdb-core         {:mvn/version "1.20.0"}
  com.xtdb/xtdb-jdbc         {:mvn/version "1.20.0"}
  integrant/integrant        {:mvn/version "0.8.0"}
  metosin/malli              {:mvn/version "0.8.4"}
  metosin/reitit             {:mvn/version "0.5.18"}
  org.postgresql/postgresql  {:mvn/version "42.2.18"}
  ring/ring-jetty-adapter    {:mvn/version "1.9.5"}}

 :aliases
 {:dev
  {:extra-paths ["dev/src"]}

  :test
  {}}}
