{;; secrets and environment are included to allow for referencing
 :secrets     #include "secrets.edn"
 :environment #include "environment.edn"

 :ca.usefulprojects.xtdb/node
 {:db-spec {:host "localhost"
            :port 5000
            :dbname #profile {:local "repl"
                              :test "test"
                              :prod "prod"}
            :user "pguser"
            :password #ref [:secrets :postgres-password]}
  :pool-opts {}}

 :ca.usefulprojects.pages/routes
 {:xtdb #ig/ref :ca.usefulprojects.xtdb/node}

 :ca.usefulprojects.auth/routes {}

 :ca.usefulprojects.handler/make-handler
 {:route-fns [#ig/ref :ca.usefulprojects.pages/routes
              #ig/ref :ca.usefulprojects.auth/routes]}

 :ca.usefulprojects.http/jetty
 {:port 3000
  :make-handler-fn #ig/ref :ca.usefulprojects.handler/make-handler
  :rebuild-handler-on-request #profile {:default false, :local true}}

 :ca.usefulprojects.logging/timbre
 ;; note that both local and test environments may be running at the same time!
 ;; as such, they should not differ in configuration here to avoid overwrites
 ;; if necessary, alter config at run time using timbre binding utilities
 #profile
  {:local
   {:min-level [[#{"ca.usefulprojects.*"} :debug]
                [#{"com.zaxxer.hikari.*"} :info]]}

   :ci
   {:min-level :info}

   :prod
   {:min-level :info}}}
